<html>
	<head>
		<style type="text/css">
		* {
			font-family: "Helvetia", sans-serif;
		}

		.form {
			text-align: center;
			margin-top: 50px;
			font-size: 36px;
		}

		.form input {
			font-size: 36px;
		}
		</style>
	</head>
	<body>
		<div class="form">
		<form method="POST" action="/">
			<label for="name">Who are you?</label>
			<br>
			<br>
			<input type="text" name="name">
		</form>
		</div>
	</body>
</html>
